/*four-block*/
    .fourth-block{ background-image: url(../images/four-bg.jpg); background-position: center top;
        .four-wrap{
            .content{    padding: 42px 0 26px;}
            .title{font:400 71px/71px 'Room'; color: #000; width: 100%; text-align: center;padding-bottom: 60px;}
            .item{position: relative; border-radius: 8px; overflow: hidden; margin-bottom: 44px;
                .bg{position: relative;
                    &:before{ content: ''; display: block; position: absolute; left:0; top:0;
                        border-bottom:373px solid transparent;
                        border-right:201px solid transparent;
                        border-top:373px solid rgba(255,228,0,0.9);
                        border-left:201px solid rgba(255,228,0,0.9);
                         }
                    &:after{ content: ''; display: block; position: absolute; right:0; bottom:0;
                        border-top:373px solid transparent;
                        border-left:201px solid transparent;
                        border-bottom:373px solid rgba(255,228,0,0.9);
                        border-right:201px solid rgba(255,228,0,0.9);
                         }
                }
                .txt{position: absolute; width: 100%; height: 100%; z-index: 10; top:0; left:0;
                    ul{position: absolute; top: 0; left: 0;    padding: 65px 0 0 36px;
                        &:nth-child(2){text-align: right; bottom: 0; right: 0; left: auto; top:auto; padding: 0 36px 74px 0;
                            li{
                                p:before{left:auto; right:-28px;}
                            }
                        }
                    }
                    li{font:400 24px/28px 'Room'; color: #000; position: relative; width: 100%;     margin-bottom: 49px;
                        p{max-width: 320px; position: relative;
                            &:before{content: '';display: block; background-image: url(../images/yell-li-mark.png); background-position: center; position: absolute; left:-28px; top:calc(50% - 18px);width: 14px;height: 37px; }
                        }
                    }

                }
                .img{position: absolute; left:50%; top:50%; transform:translate(-50%, -50%); z-index: 10;    max-width: 239px;  margin-top: -56px; width: 100%; text-align: center;
                    &:before{content: ''; width: 239px;height: 239px; border-radius: 50%; position: absolute; left:0; top:44px;display: block; background-color: #ffe719;z-index: 5;}
                    img, span{position: relative; z-index: 10; display: block;margin:0 auto;}
                    span{font:400 62px/62px 'Room'; color: #000;    margin-top: -10px; }
                }
                &.red{
                    .bg{
                        &:before{ top:auto; bottom: 0;
                            border-top:373px solid transparent;
                            border-right:201px solid transparent;
                            border-bottom:373px solid rgba(219,42,32,0.9);
                            border-left:201px solid rgba(219,42,32,0.9);
                             }
                        &:after{top: 0; bottom: auto;
                            border-bottom:373px solid transparent;
                            border-left:201px solid transparent;
                            border-top:373px solid rgba(219,42,32,0.9);
                            border-right:201px solid rgba(219,42,32,0.9);
                             }
                    }
                    .img{   margin-top: -52px;
                        &:before{  left:0; top:29px; background-color: #db2a20;z-index: 5;}
                        span{font:400 47px/47px 'Room'; color: #fff;    margin-top: 0; letter-spacing: -1.5px;}
                    }
                    .txt{
                        ul{ left: auto; right:0;    padding: 65px  36px 0 0; text-align: right;
                            &:nth-child(2){text-align: left;  right: auto; left: 0;padding: 0 0 101px 36px;
                                li{
                                    p:before{left:-28px; right:auto;}
                                }
                            }
                        }
                        li{ color: #fff;
                            p{max-width: 255px;
                                &:before{ background-image: url(../images/red-li-mark.png); left:auto; right:-28px; }
                            }
                        }

                    }

                }
            }
        }
    }
/*END four-block*/
/*fifth-block*/
    .fifth-block{
        .fifth-wrap{background-image: url(../images/fifth-bg.jpg); background-position: right top; background-repeat: no-repeat; background-color: #000;
            .content{position: relative;    padding-top: 68px;     padding-bottom: 63px;}
            .title{font:400 80px/80px 'Room'; color: #fff; width: 100%; text-align: center;}
            .price{width: 433px;height: 435px; background-image: url(../images/romb.png); background-position:center top; background-repeat: no-repeat; text-align: center; position: absolute; top:calc(50% - 237px); left:calc(50% - 216px); z-index: 20; padding-top: 69px;
                p{font:700 39px/61px 'Solomon'; color:#fff;
                    &:nth-child(2){font:700 148px/122px 'Solomon'; color:#ffe400;}
                    &:nth-child(3){font:700 47px/44px 'Solomon'; color:#ffe400;}
                }
            }
            .item-list{    padding-top: 120px; padding-bottom: 100px;
                .mobile{display: none;}
                ul{text-align: center;}
                li{background-color: #ffe400; position: relative; height: 68px; z-index: 10;
                    &:before{content: ''; display: block; position: absolute;  width: 0;height: 0; border:34px solid transparent; border-right: 34px solid #ffe400; border-bottom: 34px solid #ffe400; left:-68px; top:0; z-index: 5;}
                    &:after{content: ''; display: block; position: absolute;  width: 0;height: 0; border:34px solid transparent; border-left: 34px solid #ffe400; border-bottom: 34px solid #ffe400; right:-68px; top:0;z-index: 5;}
                }
                span{font:400 22px/22px 'Room'; color: #000;position: relative; z-index: 8;}
                b{font:400 35px/35px 'Room'; }
                .descktop{
                    li{display: block;  margin:0 auto 56px; padding-top: 10px; padding-top: 7px;
                        span{display: block;float: left; text-align: center;
                            &:nth-child(2){float:right;}
                        }
                        &:nth-child(1){max-width: 667px;
                            span:first-child{padding-top: 10px;}
                            span:last-child{margin-right: -8px;}
                        }
                        &:nth-child(2){max-width: 824px;
                            span:first-child{    margin-left: 19px;}
                            span:last-child{margin-right: -46px;}
                        }
                        &:nth-child(3){max-width: 993px;
                            span{
                                &:first-child{    margin-left: 15px;}
                                &:last-child{margin-right: -42px;letter-spacing: -1px; line-height: 27px;}
                            }
                        }
                    }
                }
            }

        }
    }
.button-wrap{text-align: center;
                a{text-decoration: none;font:500 31px/37px 'Room'; color: #fff;  text-transform: uppercase; padding:10px 0 0;max-width: 678px; height: 88px;background-color: #db2a20; display: inline-block; border-radius: 8px; width: 100%; padding-top: 27px;
                    &:hover{text-decoration: underline;}
                }
            }
/*END fifth-block*/