
// popups
#call-popup{ border-radius: 5px; border: 3px solid rgba(255,255,255, 0.5);
    .contact-form{background-image: url(../images/pop-bg.png); background-size: cover; background-position: center center; display: flex; align-items: center; justify-content: center; width: 600px; height: 456px; 
        .contact-form-title{font-size: 41px; font-family: "Solomon", sans-serif; color: rgb(255, 228, 0); font-weight: bold; line-height: 1.2; text-align: center; padding-bottom: 45px;}
        .contact-form-item{max-width: 400px; width: 100%; margin: 0 auto; 
            .form_input{ width: 100%; position: relative; padding: 6px 0;
                input{ width: 100%; border: 3px solid white; border-radius: 8px; outline: none; height: 62px; line-height: 60px; color: white; background-color: transparent; font-size: 21px; padding-left: 18px; }
                ::-webkit-input-placeholder {color: white;}
                :-moz-placeholder {color: white;}
                ::-moz-placeholder {color: white;}
                :-ms-input-placeholder {color: white;}
                label{display: none !important;}
                .error{border-color: red;}
            }
        }
        .contact-form-row-submit{max-width: 410px; width: 100%; margin: 0 auto; padding-top: 20px;
            button{font-size: 45px; width: 100%; display: flex;line-height: 1.2; justify-content: center; align-items: center; border: 3px solid transparent; border-radius: 8px; transition: all 0.5s; background-color: #db2a20; color: white; cursor: pointer; font-family: "Room", sans-serif; min-height: 75px;
                &:hover{background-color: #ffe400; color: black;  }
                &:active{background-color: #fff289; color: black; }
            }
        }
    } 
}

#call_success{border-radius: 12px; overflow: hidden; border: 3px solid rgba(255,255,255, 0.5);
    .call-success{background-image: url(../images/pop2-bg.png); background-position: center center; background-size: cover; display: flex; align-items: center; justify-content: center; width: 577px; height: 325px;
        .call-title{text-align: center; font-size: 47px; font-family: "Solomon", sans-serif; color: rgb(255, 228, 0); font-weight: bold;}
    }
}
.fancybox-form{
    .fancybox-skin {background: transparent;}
    .fancybox-close{ width: 32px; height: 32px; overflow: hidden; background-image: none; top: 0; right: -47px;
        &:before{content: ''; position: absolute; width: 50px; height: 3px; background-color: #a8a8a8; transform: rotate(45deg); top: 15px; right: -10px;}
        &:after{content: ''; position: absolute; width: 50px; height: 3px; background-color: #a8a8a8; transform: rotate(-45deg); top: 14px; right: -10px;}
        
    }
}


// block 8

.convert-all{padding: 110px 0 10px;background-image: url(../images/four-bg.jpg);
    background-position: center top;
    .top-block-2{ background-color: rgba(255,255,255,0.56);box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.25);
        .convert-stuf{height: 280px; display: flex; align-items: center;  justify-content: space-between; }
        .image{position: relative; width: 42%; height: 280px;
            img{position: absolute; top: -77px; width: 495px;}
        }
        .afrtertext{width: 58%; font-size: 21px; font-family: "Room",sans-serif; color: rgb(0, 0, 0);  line-height: 31px;}
    }
    .bottom-items{
        .conteiner{ display: flex; flex-wrap: wrap; justify-content: space-between; align-content: space-between ;   padding-top: 135px;
            .item{min-height: 226px; width: 48.5%; padding-bottom: 65px; 
                .image-conteiner{position: relative; z-index: 2;
                    img{position: absolute; top: 0; bottom: 0;}
                }
                .text-block{ padding-left: 185px;  position: relative; display: flex; align-items: center; justify-content: flex-start;min-height: 226px; background-color: #ffe400; box-shadow: 0px 0px 25px 2px rgba(0,0,0,0.25);
                    .descript{font-size: 19px; padding-left: 25px; font-family: "Solomon", sans-serif; color: rgb(0, 0, 0);line-height: 24px;
                        b{font-weight: 700;}
                        p{font-weight: 400;}
                    }
                    &:after{content: ''; position: absolute; top: 0; right: 0; bottom: 0; background-image: url(../images/item-bg.png); width: 120px;}
                }
            }
        }
    }
}

// block 7
.seventh-block{background-image: url(../images/four-bg.jpg);
    .seven-wrap{background-color: rgba(255,255,255,0.56); padding-top: 55px; padding-bottom: 70px;
        .mbox2{max-width: 1236px; margin: 0 auto;}
        .title-text{font-size: 86px; color: rgb(0, 0, 0); text-align: center; padding-bottom: 55px;}
        .slider-for{ border: 1px solid #eaeaea; padding: 7px; border-radius: 7px; background-color: #f9f9f9;
            .item{
                .conteiner{
                    img{width: 100%; height: 100%;}
                }
            }
        }
    }
}
.slider-nav{
    .item{padding: 0 5px; background-color: transparent;}
    .slick-prev{ left: -35px; width: 26px; height: 76px; background-color: transparent; overflow: hidden; 
        &:before{content: '';position: absolute; left: 0; top: 0; background-image: url(../images/arrow-bg.png); height: 74px; width: 26px; transform: rotate(180deg);}    
    }
    .slick-next{ right: -35px; width: 26px; height: 76px; background-color: transparent; overflow: hidden; 
        &:before{content: '';position: absolute; left: 0; top: 0; background-image: url(../images/arrow-bg.png); height: 74px; width: 26px;}    
    }
    .slick-current .conteiner{ position: relative; z-index: 5;
        &:before{content: ''; position: absolute; top: 0; bottom: 0; left:0; right: 0; border: 3px solid #ffe719; z-index: 20;}
        img{position: relative; z-index: 2;}
    }  
}

// footer map
#map{height: 870px; width: 100%;}
.ele-wrap{background-image: url(../images/four-bg.jpg); background-position: center top;
    .title-text{text-align: center; font-size: 53px; font-family: "Room", sans-serif; padding: 60px 0 55px;}
}
.foot-block{  margin-top: -150px; position: relative; z-index: 5;
    .conteiner{background-color: rgba(255,255,255,0.8);height: 150px;
        .mbox{position: relative;}
        .logo{  position: absolute; right: 20px; top: 0;height: 150px; display: flex; align-items: center; justify-content: center;
            a{display: block; text-decoration: none; 
                span{display: block;}
            }
        }
        .convert-center{ text-align: center;
            .conteiner-phone{max-width: 360px; margin: 0 auto; padding: 25px 0 20px;
                a{display: block; text-decoration: none;font-size: 42px; font-family: "Solomon", sans-serif; color: rgb(60, 54, 54); font-weight: bold; } 
            }
        }
    }
}

// menu


.header .header-nav .show-hide-nav-button { position: fixed; z-index: 112;}
.header .header-nav { display: block !important; position: fixed;  z-index: 112;
    .show-hide-nav-button{ 
        .sendwich{display: none;}
        .show-hide-nav-text{display: block; background-color: #db2a20; width: 55px; border-top: 3px solid #ffe400;border-right: 3px solid #ffe400; border-bottom: 3px solid #ffe400; cursor: pointer; border-top-right-radius: 10px; border-bottom-right-radius: 10px; position: relative;
            .convert{align-content: space-around;align-items: center; height: 130px;  display: flex; flex-wrap: wrap; width: 30px;
                span{display: block;  width: 100%; text-align: center; font-size: 27px;   font-family: "Room", sans-serif;  color: rgb(255, 255, 255);  font-weight: 700;}
            }
            &:before{background-image: url(../images/arrow-menu.png); content: ''; position: absolute; top: 44px; right: 5px;  height: 48px; width: 19px; animation: shest 0.8s ease-out infinite;}
            
        }
    }
    .header-menu-list{visibility: hidden; width: 220px; height: 428px;right: calc(100% - 58px);  transition: all 0.3s; z-index: 112; position: absolute; left: -300px;  top: 0; background-image: url(../images/menu-bg.png); background-repeat: no-repeat; 
        .header-menu-wrap{
            ul{ padding: 10px; 
                li{width: 100%; padding: 6px 0; text-align: center;
                    a{text-decoration: none; font-size: 21px; font-family: "Room", sans-serif;  color: rgb(0, 0, 0);  line-height: 1.857; text-align: center; position: relative;
                        &:before{content: ''; position: absolute; bottom: 0; left: 0; right: 100%; height: 1px; background-color:rgb(0, 0, 0); transition: all 0.5s; }
                        &:hover{
                            &:before{right: 0;}
                        }
                    }
                }
            } 
        }
        .menu-bottom{
            .menu-button-wrap{padding: 10px; 
                a{display: block; text-align: center; padding: 20px 0;height: 75px;
                    .big-text{ font-size: 32px; display: block; padding-bottom: 15px;}
                    .small-text{ font-size: 15px; display: block;}
                }
            }
            .menu-telefone{text-align: center; line-height: 63px;
                a{text-decoration: none; font-size: 23px; font-family: "Solomon", sans-serif;  color: rgb(0, 0, 0);   line-height: 1.696;position: relative;
                    &:before{content: ''; position: absolute; bottom: 0; left: 0; right: 100%; height: 1px; background-color:rgb(0, 0, 0); transition: all 0.5s; }
                    &:hover{
                        &:before{right: 0;}
                    }
                }
             }
             
        }
        .close-button{background-color: #f4da00; cursor: pointer; border-top-right-radius: 5px; border-bottom-right-radius: 5px; position: absolute; right: 0px; width: 25px; height: 102px; top: 0px;z-index: 1;transition: all 0.3s;opacity: 0;
            &:before{content: ''; position: absolute; top: 27px; left: 2px; background-image: url(../images/arrow-close.png); width: 18px; height: 48px; }
        }
    }
    .opened-menu{right: 100%;visibility: visible; left: 58px;
        .close-button{right: -25px; top: 154px; opacity: 1;}
    }
}
@keyframes shest { 
    0%{ right: 5px; } 
    50% { right: 2px; }
    100% { right: 5px; }
}

