$ye:#ffe400;

/*second-block*/
.second-block{background-color: $ye;overflow: hidden;
    .animate-it{opacity: 0;visibility: hidden;transition:all ease-out .5s;
        &.animated{opacity: 1;visibility: visible;}
    }
    .title-s{font-size: 49px;line-height: 50px;font-weight: bold;max-width: 922px;margin:0 auto;    padding: 25px 0px;text-align: center;}
    .red-block{background: url('../images/red-block-bg.png') center top no-repeat;padding-top: 82px;font-family: "Solomon";
        .red-block-text{color: white;line-height: 39px;font-weight: 600;max-width: 733px;float: right;    margin-left: -40px;
            h4{font-size: 31px;padding-bottom: 20px;}
            p{font-weight: normal;max-width: 465px;line-height: 25px;}
        }
        .red-block-img{float: left;margin-left: 40px;}
    }
    .yellow-block{margin-top: -122px;
        .yellow-block-text{float: right;max-width: 790px;font-family: "Solomon";
            h4{font-size: 31px;padding-bottom: 20px;font-weight: 600;}
            p{font-weight: normal;font-size: 17px;line-height: 25px;}
        }
        .yellow-block-text-desc{float: right;max-width: 475px;text-align: right;}
        .yellow-block-img{float: right;margin-left: 15px;margin-top: -197px;}
    }
    .grey-block{min-height: 400px;position: relative;z-index: 3;
        .grey-block-wrapp{}
        .grey-block-img{position: absolute;z-index: 1;top: -275px;right: -293px;
            img{max-width: none;}
        }
        .grey-block-text{max-width: 690px;color: white;position: relative;z-index: 3;float: left;width: calc(100% - 460px);padding-top: 45px;
            h4{font-size: 47px;padding-bottom: 30px;font-weight: 600;}
        }
        .grey-block-red-circle{width: 440px;height: 440px;border-radius: 50%;overflow: hidden;float: right;background: url('../images/grey-block-red-circle.png') center center no-repeat;background-size: cover;position: relative;z-index: 2;text-align: center;
            p{max-width: 370px;font-size: 25px;line-height: 33px;color: white;margin: 0 auto;
                b{display: inline-block;width: 100%;font-size: 49px;padding-top: 47px;padding-bottom: 14px}
                span{font-size: 34px;color: $ye;display: inline-block;width: 100%;}
            }
        }
        .trenya-form{height: 225px;display: flex;flex-direction:row;align-items:stretch;justify-content:space-between;padding-bottom: 3px;
            .item{display: flex;flex-direction:column;justify-content:flex-start;align-items: center;
                &:nth-child(odd){justify-content:flex-end;}
                span:not(.icon){position: relative;
                    &:after{width: 100%;border-bottom: 1px dotted $ye;content: '';position: absolute;bottom:-2px;left: 0;}
                }
                .item-title{height: 30px;font-family: "Solomon";font-size: 31px;color: white;display: flex;flex-wrap:wrap;justify-content:center;align-items:center;font-weight: 600;cursor:pointer;position: relative;
                    .icon-question{width: 22px;height: 22px;background: url('../images/icon-question.png') center center no-repeat;margin-left: 9px;margin-top: 5px;
                        &:hover{
                            &+.hidden-item{opacity: 1;visibility: visible;}
                        }
                    }
                }
                .item-img{padding: 27px 0px;}
                .hidden-item{position: absolute;width: 288px;top: 49px;right: -21px;background-color: #fff;padding: 7px;border-radius: 10px;z-index: 3;cursor: default;box-shadow: 0 0 16px 0px rgba(0, 0, 0, 0.64);opacity: 0;visibility: hidden;transition:all ease-out .2s;
                    &:after{width: 0;height: 0;border-left: 7px solid transparent;border-right: 7px solid transparent;border-bottom: 12px solid white;position: absolute;top: -12px;right: 25px;content: '';}
                    .hidden-item-text{font-weight: 500;font-size: 14px;color: #000;line-height: 20px;padding: 10px;text-align: center;}
                    .hidden-item-img{margin:0 auto;}
                }
            }
        }
    }
    .bottom-block{margin-top: -23px;position: relative;z-index: 2;
        .bottom-block-img{float: left;}
        .bottom-block-text{float: right;width: calc(100% - 275px);font-family: "Solomon";text-align: center;padding-top: 89px;
            h4{font-size: 31px;padding-bottom: 20px;font-weight: 600;}
            p{font-weight: normal;font-size: 17px;line-height: 25px;max-width: 750px;margin:0 auto;}
        }
    }
    .bottom-text{text-align: center;font-size: 35px;line-height: 39px;padding-top: 50px;padding-bottom: 45px;
        img{display: inline-block;}
        p{margin-bottom: 20px;}
    }
}
/*/second-block*/

.selects-wrap{height: 92px;}
.selects-wrap>div{opacity: 0;visibility: hidden;height: 0;transition:all ease .2s;
        &.active:last-child{margin-top: -15px;}
        &.active{opacity: 1;visibility: visible;height: 100%;}
}

/*header*/
.header-2{top: 0;left: 0;width: 100%;padding: 10px 0px;
    .header-nav{display: none;}
    .header-top{
        .mbox{display: flex;flex-wrap:wrap;justify-content:space-between;align-items: stretch;}
        .header-logo{margin-left: -20px;}
        .header-text{line-height: 31px;color: #bdb8b6;font-size: 20px;text-align: center;display: flex;justify-content: center;align-items: center;flex-direction: column;
            p{}
        }
        .header-contants{display: flex;justify-content: space-around;align-items: center;flex-direction: column;}
        .header-telefone{margin-top: 10px;
            a{font-family: "Solomon";color: white;font-size: 42px;line-height:39px;text-decoration: none;}
        }
        .header-button{text-align: center;width: 100%;max-width: 291px;}
    }
}
.button{width: 100%;max-width: 291px;height: 50px;display: flex;justify-content:center;align-items:center;text-decoration: none;background-color: #db2a20;border-radius: 6px;margin:0 auto;transition:all ease-out .2s;
    span{color: white;font-size: 31px;line-height: 21px;margin-top: -5px;transition:all ease-out .2s;}
    &:hover{background-color: #ffe400;
        span{color: #000;}
    }
    &:active{background-color: #fff289;}
}
/*/header*/

/*top-block*/
.top-block{background: url(../images/top-block-bg.jpg) center top no-repeat;background-size: cover;    overflow: hidden;background-attachment: fixed;
    .top-block-wrap{background: url(../images/top-block-children.png) center bottom no-repeat;}
    .top-description{text-align: center;color: white;
        span{color: $ye;}
        .top-title{font-size: 59px;font-weight: bold;text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);    margin: 0 -13px 20px;line-height: 67px;}
        .top-subtitle{display: inline-block;padding: 3px 6px 5px;background-color: #000;font-size: 27px;font-weight: bold;margin-bottom: 37px;}
        p{font-family: "Solomon";font-size: 22px;line-height:39px;max-width: 850px;margin:0 auto;margin-bottom: 36px;}
    }
    .top-block-form{padding-top: 15px;}
    .bottom-last-text{text-align: center;font-size: 23px;color: $ye;padding-top: 49px;line-height: 34px;padding-bottom: 45px;
        span{font-size: 31px;}
    }
    .top-description-mobile-img{display: none;}
}
/*/top-block*/

/*lend-form*/
.lend-form{max-width: 600px;width: 100%;margin: 0 auto;min-height: 630px;background-color: rgba(0,0,0, .75);border-radius: 10px;text-align: center;padding: 21px 30px 30px;
    p{font-size: 21px;color: #ffffff;max-width: 420px;margin:0 auto;}
    .contact-form-title{margin-bottom: 36px;
        h4{color: $ye;font-family: "Solomon";font-size: 31px;font-weight: bold;line-height: 47px;    margin-bottom: 17px;}
        b{font-size: 41px;display: block;}
        p{line-height: 26px;}
    }
    .contact-form-item-input{}
    .contact-form-row>p{margin-bottom: 18px;}
    .radio-holder-wrap{display: flex;display: flex;justify-content:space-around;align-items:center;padding-bottom: 40px;}
    .radio-holder{display: inline-block;vertical-align: middle;cursor: pointer;
        span{font-family: "Solomon";font-size: 28px;color: white;}
        .jq-radio{width: 21px;height: 21px;background: transparent;border:2px solid white;box-shadow:none;margin-top: -6px;margin-right: 6px;}
        .jq-radio.checked .jq-radio__div{width: 9px;height: 9px;background:$ye;box-shadow: none;margin: 4px 0 0 4px;}
    }
    .jq-selectbox{max-width: 406px;width: 100%;
        &.opened{
            .jq-selectbox__select{border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;}
        }
        .jq-selectbox__select{height: 62px;background:transparent;text-shadow:none;box-shadow: none;font-family: "Solomon";color: white;font-size: 21px;border:3px solid #fff;border-radius: 10px;z-index: 3;padding: 0 45px 0 20px;}
        .jq-selectbox__select-text{padding-top: 10px;text-align: left;}
        .jq-selectbox__trigger{border-left: none;}
        .jq-selectbox__trigger-arrow{border-top: 9px solid #fff;top: 22px;}
        .placeholder{font-family: "Solomon";color: white;font-size: 21px;text-align: left;}
        .jq-selectbox__dropdown{border:none;background: pink;text-align: left;z-index: 2;
            &:after{position: absolute;content: '';width: calc(100% + 8px);height: 68px;top: -67px;left: 0;border: 5px solid $ye;border-radius: 15px;left: -4px;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;}
            &:before{position: absolute;content: '';width: calc(100% + 8px);left: -4px;top: -5px;height: calc(100% + 14px);background-color: $ye;z-index: 1;border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;}
            ul{z-index: 3;}
            li{font-size: 17px;font-family: "Solomon";padding: 11px 10px 11px 53px;position: relative;
                &:after{content: '';left: 12px;width: 30px;position: absolute;background: url('../images/dropdown-menu.png') center center no-repeat;height: 100%;top: 0;opacity: 0;visibility: hidden;transition:all ease .1s;}
            }
            li.selected,li:hover{background-color: #fff;color: #000;
                &:after{opacity: 1;visibility: visible;}
            }
        }
    }
    input{height: 62px;background:transparent;text-shadow:none;box-shadow: none;font-family: "Solomon";color: white;font-size: 21px;border:3px solid #fff;border-radius: 10px;width: 100%;max-width: 406px;padding: 10px 20px;}
    .contact-submit{max-width: 406px;width: 100%;height: 74px;border-radius: 10px;outline: none;box-shadow: none;border:none;cursor: pointer;color: white;font-size: 21px;flex-direction:column;line-height: 1;margin-top: 24px;
        span{font-size: 24px;}
        &:hover{
            b{color: black;}
        }
        b{font-size: 45px;display: block;line-height: 1;transition:all ease-out .2s;margin-top: -14px;}
    }
    .errorText{display: none !important;}
    .form_row.error{
        input{border-color: red;}
        .jq-selectbox .jq-selectbox__select{border-color: red;}
        .jq-selectbox .jq-selectbox__trigger-arrow{border-top: 9px solid red;}
        .jq-radio{border-color: red;}
    }
}
/*/lend-form*/

/*third-block*/
.third-block{background: #000 url('../images/third-block-bg.png') center top no-repeat;min-height: 735px;
    .lend-form{float: right;padding-right: 0;padding-bottom: 0;}
    .lend-form .contact-form-title h4{margin-bottom: 37px;line-height: 37px;padding-top: 15px;}
    .lend-form .radio-holder-wrap{padding-bottom: 56px;}
    .lend-form .jq-selectbox{/*margin-bottom: 25px;*/}
    .lend-form .contact-submit{margin-top: 35px}

    .third-block-text{text-align: center;position: relative;color: $ye;max-width: 600px;width: 100%;float: right;padding-top: 20px;padding-bottom: 45px;
        a{text-decoration: none;color: white;font-size: 36px;text-decoration: none;font-family: "Solomon";}
        p{position: absolute;right: calc(100% + 27px);top: -75px;font-size: 55px;}
    }
    .animate-it{opacity: 0;visibility: hidden;transition:all ease-out .5s;
        &.animated{opacity: 1;visibility: visible;}
    }
}
/*/third-block*/

/*tenth-block*/
.tenth-block{overflow: hidden;
    .tenth-block-bottom{min-height: 235px;background: url('../images/tenth-block-bottom-bg.jpg') left top no-repeat;background-size: cover;}
    .tenth-block-top{background: url('../images/tenth-block-top-bg.jpg') center top no-repeat;background-size: cover;padding-top: 97px;background-attachment: fixed;}
    .tenth-block-video-wrap{width: 100%;height: 100%;max-height: 445px;max-width: 700px;margin:0 auto;margin-bottom: 85px;min-height: 210px;}
    .tenth-block-video{position:relative;padding-bottom:56.25%;padding-top:30px;height:0;overflow:hidden;margin:0 auto;display: block;
        iframe{border:6px solid rgba(255,255,255, 0.2);border-radius:6px;position:absolute;top:0;left:0;width:100%;height:100%;}
    }
    .tenth-block-form{margin-bottom: -90px;position: relative;}
    .tenth-block-left-children{position: absolute;bottom: -79px;left: -29px;z-index: -2;
        img{max-width: none;}
    }
    .tenth-block-form form{position: relative;z-index: 2;padding: 21px 30px 30px;}
    .tenth-block-form .lend-form{padding: 0;}
    .tenth-block-right-children{position: absolute;bottom: -135px;right: -15px;z-index: -2;
        img{max-width: none;}
    }
    .tenth-block-bottom{text-align: center;display: flex;flex-direction:column;justify-content:flex-end;align-items:center;
        p{color: $ye;font-size: 69px;padding-bottom: 50px;}
    }
    .hidden-tenth-block-bottom{display: none;}
    .animate-it{opacity: 0;visibility: hidden;transition:all ease-out .5s;
        &.animated{opacity: 1;visibility: visible;}
    }
}
/*/tenth-block*/