<section class="eighth-block" id="eighth-block">
    <div class="convert-all">
        <div class="top-block-2">
            <div class="mbox">
                <div class="convert-stuf animate-section">
                    <div class="image animate-it">
                        <img src="images/man-romb.png" alt="">
                    </div>
                    <div class="afrtertext">
                        Клуб сого будо «ТАСАЙ»  -  это единая система подготовки кёкусинкай каратэ международного уровня, является официальным представительством Общественного Объединения «Белорусская федерация Кёкусинкай Будо Каратэ» в Минске.  ТАСАЙ в переводе с японского означает многогранность, разносторонность, универсальность,гибкость, талантливость. 
                    </div>
                </div>
            </div>
        </div>
        
        <div class="bottom-items">
            <div class="mbox">
                <div class="conteiner">
                    <div class="item">
                        <div class="image-conteiner">
                            <img src="images/man-face.jpg" alt="">
                        </div>
                        <div class="text-block">
                            <div class="descript">
                                <b>Руководитель клуба "Тасай", тренер - Бортник Артём Михайлович – 1 дан. </b>
                                <p>Многократный Чемпион РБ в лёгком весе по версиям ката и кумитэ. </p>
                                <p>Чемпион международного турнира "Ямбург 2008".</p>
                                <p>Человек с активной жизненной позицией. </p>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image-conteiner">
                            <img src="images/man-face.jpg" alt="">
                        </div>
                        <div class="text-block">
                            <div class="descript">                                
                                <p>Тренер, руководитель детских и взрослых групп -  </p>
                                <b>Бриштен Ирина Андреевна - 2 кю. </b>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image-conteiner">
                            <img src="images/man-face.jpg" alt="">
                        </div>
                        <div class="text-block">
                            <div class="descript">
                                <p>Тренер, руководитель детских и взрослых групп -  </p>
                                <b>Караев Герман Юрьевич - 4 кю. </b>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="image-conteiner">
                            <img src="images/man-face.jpg" alt="">
                        </div>
                        <div class="text-block">
                            <div class="descript">   
                                <p>Тренер, руководитель детских и взрослых групп -  </p>
                                <b>Роман Юрьевич Акулов, 3 кю.</b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>