<section id="fifth-block" class="fifth-block">
    <div class="fifth-wrap">
        <div class="mbox">
            <div class="content">
                <div class="title">
                    <h2>Стоимость абонемента</h2>
                </div>
                <div class="price">
                    <p>Всего</p>
                    <p>450</p>
                    <p>тыс.руб.</p>
                    <p>месяц!</p>
                </div>
                <div class="item-list">
                    <ul class="descktop">
                        <li><span><p><b>8 залов</b> в Минске</p></span><span><p>Группы для взрослых</p><p> и детей от <b>6 лет</b></p></span></li>
                        <li><span><p>Первое занятие </p><p><b>бесплатно</b></p></span><span><p>Длительность</p><p>тренировки <b>1.5 часа</b></p></span></li>
                        <li><span><p>Количество посещений в неделю</p><p> <b>не ограничено</b></p></span><span><p>На начальном этапе можно</p><p> заниматься в обычной спортивной одежде</p></span></li>
                    </ul>
                    <ul class="mobile">
                        <li><span><b>8 залов</b> в Минске</span></li>
                        <li><span>Количество посещений в неделю <b>не ограничено</b></span></li>
                        <li><span>Группы для взрослых и детей от <b>6 лет</b></span></li>
                        <li><span>Длительность тренировки <b>1.5 часа</b></span></li>
                        <li><span>На начальном этапе можно заниматься в обычной спортивной одежде</span></li>
                        <li><span>Первое занятие <b>бесплатно</b></span></li>
                    </ul>
                </div>
                <div class="button-wrap"><a href=""><span>записаться на пробную тренировку</span></a></div>
            </div>
        </div>
    </div>


</section>