<section id="fourth-block" class="fourth-block">
    <div class="four-wrap">
        <div class="mbox">
            <div class="content">
                <div class="title">
                    <h2>Что даёт карате </h2>
                </div>
                <div class="items-wrap">
                    <div class="item yellow animate-section">
                        <div class="bg animate-delay">
                            <img src="images/yell-bg.jpg" alt="">
                             <div class="img animate-it"><img src="images/yell-logo.png" alt=""><span>Детям</span></div>
                        </div>
                        <div class="txt">
                            <ul>
                                <li><p>дисциплинированность</p></li>
                                <li><p>гармоничиное развитие тела и духа</p></li>
                                <li><p>надежных друзей </p></li>
                                <li><p>выносливость</p></li>
                            </ul>
                            <ul>
                                <li><p>живое общение </p></li>
                                <li><p>успехи в учебе</p></li>
                                <li><p>твердый характер</p></li>
                                <li><p>укрепление здоровья</p></li>
                            </ul>
                        </div>

                    </div>
                    <div class="item red">
                        <div class="bg">
                            <img src="images/red-bg.jpg" alt="">
                            <div class="img"><img src="images/red-logo.png" alt=""><span>Взрослым</span></div>
                        </div>
                        <div class="txt">
                            <ul>
                                <li><p>способность постоять за себе</p></li>
                                <li><p>успехи в всех сферах жизни</p></li>
                                <li><p>высокую концентрацию</p></li>
                            </ul>
                            <ul>
                                <li><p>уверенность в себе</p></li>
                                <li><p>красивое и рельефное тело</p></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


</section>