<section id="fourth-block" class="fourth-block">
    <div class="four-wrap">
        <div class="mbox">
            <div class="content">
                <div class="title">
                    <h2>Что даёт карате </h2>
                </div>
                <div class="items-wrap">
                    <div class="item yellow">
                        <div class="bg"><img src="images/yell-bg.jpg" alt=""></div>
                        <div class="txt">
                            <ul>
                                <li>дисциплинированность</li>
                                <li>гармоничиное развитие тела и духа</li>
                                <li>надежных друзей </li>
                                <li>выносливость</li>
                                <li>живое общение </li>
                                <li>успехи в учебе</li>
                                <li>твердый характер</li>
                                <li>укрепление здоровья</li>
                            </ul>
                        </div>
                        <div class="img"><span>Детям</span><img src="images/yell-logo.png" alt=""></div>
                    </div>
                    <div class="item red">
                        <div class="bg"><img src="images/red-bg.jpg" alt=""></div>
                        <div class="txt">
                            <ul>
                                <li>способность постоять за себе</li>
                                <li>успехи в всех сферах жизни</li>
                                <li>высокую концентрацию</li>
                                <li>уверенность в себе</li>
                                <li>красивое и рельефное тело</li>
                            </ul>
                        </div>
                        <div class="img"><span>Взрослым</span><img src="images/red-logo.png" alt=""></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>