<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <script type="text/javascript">
        var locations = [
            ['location1', 53.931777, 27.486050, 'images/marker-1.png'],
            ['location2', 53.954708, 27.538959, 'images/marker-2.png'],
            ['location3', 53.888690, 27.583641, 'images/marker-3.png'],
            ['location4', 53.846496, 27.563891, 'images/marker-4.png'],
            ['location5', 53.888698, 27.583647, 'images/marker-5.png'],
            ['location6', 53.846511, 27.563891, 'images/marker-6.png'],
            ['location7', 53.924690, 27.677047, 'images/marker-7.png']
        ];

        var ajaxUrl = 'ajax.php';
    </script>
    <!--[if lt IE 10]>
    <link rel="stylesheet" href="https://rawgit.com/codefucker/finalReject/master/reject/reject.css" media="all" />
    <script type="text/javascript" src="https://rawgit.com/codefucker/finalReject/master/reject/reject.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>