<!-- HEADER -->
<header class="header">

    <!-- header-top -->

    <div class="header-top">
        <div class="mbox">
            <div class="header-logo">
                <img src="images/header-logo.png" alt="" />
            </div>
            <div class="header-text">
                <p>Клуб Тасай относится к</p>
                <p>Белорусской Федерации Кёкусинкай каратэ</p>
            </div>
            <div class="header-contants">
                <div class="header-telefone">
                    <a href="callto:+375291308190">+375 29 130-81-90</a>
                </div>
                <div class="header-button">
                    <a href="#call-popup" class="button fancybox-form">
                        <span>перезвоните мне</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="header-nav">

        <!-- button markup -->

        <div class="show-hide-nav-button">

            <div class="sendwich">
                <div class="sendwich-wrap">
                    <span></span>
                </div>
            </div>

            <div class="show-hide-nav-text">
                <span>м</span>
                <span>е</span>
                <span>н</span>
                <span>ю</span>
            </div>

            <div class="arrow-desctop">
                <div class="span black-arrow"></div>
                <span class="white-arrow"></span>
            </div>

        </div>

        <!-- /button markup -->

        <!-- menu list markup -->

        <div class="header-menu-list">

            <div class="header-menu-wrap">
                <ul>
                    <li>
                        <a href="#">Кёкусенкай карате</a>
                    </li>
                    <li>
                        <a href="#">Цены</a>
                    </li>
                    <li>
                        <a href="#">О клубе</a>
                    </li>
                    <li>
                        <a href="#">Фото</a>
                    </li>
                    <li>
                        <a href="#">Контакты</a>
                    </li>
                </ul>
            </div>

            <div class="menu-bottom">

                <div class="menu-button-wrap">
                    <a href="#" class="button">
                        <span class="big-text">Записаться</span>
                        <span class="small-text">на пробную тренировку</span>
                    </a>
                </div>

                <div class="menu-telefone">
                    <a href="callto:+375291308190">+375 29 130-81-90</a>
                </div>

            </div>

        </div>

        <!-- /menu list markup -->
    </div>

</header>
<!-- /HEADER -->

