<section id="nineth-block" class="nineth-block">
    <div class="title">
        <h2>Как проходят тренировки</h2>
    </div>
    <div class="mbox animate-section">
        <div class="descktop animate-it">
            <div class="row cfix">
                <div class="circle one animate-delay">
                    <p>1</p>
                </div>
                <div class="txt animate-delay">
                    <p>Приветствие, построение</p>
                    <p> учеников по уровню подготовки.</p>
                </div>
                <div class="circle two animate-delay">
                    <p>2</p>
                </div>
                <div class="txt animate-delay">
                    <p>Разминка </p>
                    <p>(групповая или в парах).  </p>
                </div>
                <div class="circle three animate-delay">
                    <p>3</p>
                </div>
                <div class="txt animate-delay">
                    <p>Основная часть.</p>
                    <p>Может быть различной (отработка связок, обучение технике – ката, подготовка к соревнованиям, борцовская техника, набивка, растяжка, работа с грушей, подготовка к встрече уличных хулиганов, работа с оружием, моральная подготовка и т.д.)  </p>
                </div>
            </div>
            <div class="row cfix animate-delay">
                <div class="img"><img src="images/karakatist.png" alt=""></div>
                <div class="strelka">
                    1.5 часа
                    <div class="box"></div>
                </div>
            </div>
            <div class="row cfix">
                <div class="circle four animate-delay">
                    <p>4</p>
                </div>
                <div class="txt animate-delay">
                    <p>Заминка</p>
                    <p>(канат, упражнения на силу, выносливость, отработка в связке с партнером).</p>
                </div>
                <div class="circle five animate-delay">
                    <p>5</p>
                </div>
                <div class="txt animate-delay">
                    <p>Построение, </p>
                    <p>обсуждение моральных аспектов или текущих вопросов, короткая медитация и прощание.</p>
                </div>
            </div>

        </div>
        <div class="mobile">
            <div class="convert">
                <div class="conteiner">
                    <div class="item">
                        <div class="po">1</div>
                        <div class="de">Приветствие, построение</div>
                        <div class="ir">учеников по уровню подготовки.</div>
                    </div>
                    <div class="item">
                        <div class="po">2</div>
                        <div class="de"> Разминка    </div>
                        <div class="ir">(групповая или в парах).</div>
                    </div>
                    <div class="item">
                        <div class="po">3</div>
                        <div class="de">Основная часть.</div>
                        <div class="ir">Может быть различной отработка связок, обучение технике – ката, подготовка к соревнованиям, борцовская техника, набивка, растяжка, работа с грушей, подготовка к встрече уличных хулиганов, работа с оружием, моральная подготовка и т.д.)  </div>
                    </div>
                    <div class="item">
                        <div class="ghnt">
                            <img src="images/ghnt.png" alt="">
                        </div>
                        <div class="wert"> <!-- wert.png -->
                            <p>1.5 часа</p>
                        </div>
                    </div>
                    <div class="item">
                        <div class="po">4</div>
                        <div class="de">Заминка</div>
                        <div class="ir">(канат, упражнения на силу, выносливость, отработка в связке с партнером). </div>
                    </div>
                    <div class="item">
                        <div class="po">5</div>
                        <div class="de">Построение</div>
                        <div class="ir">обсуждение моральных аспектов или текущих вопросов, короткая медитация и прощание. </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>