<section class="second-block">
    <div class="title-s">
        <h2>Почему Кёкусинкай ещё называют
    супер-карате или сильнейшим карате?
        </h2>
    </div>
    <div class="red-block">
        <div class="mbox">
            <div class="red-block-text">
                <h4>Контактный и жесткий стиль, демонстрирующий миру мощь реального карате </h4>
                <p>Не просто теория, но практический способ постоять засебя и близких в реальной ситуации.</p>
            </div>
            <div class="red-block-img">
                <img src="images/red-block-img.png" alt="">
            </div>
        </div>
    </div>
    <div class="yellow-block">
        <div class="mbox">
            <div class="red-block-text">
                <h4>Воспитание смелых, успешных дисциплинированных и нравственных людей.</h4>
                <p>Позволяет подняться над своими слабостями и достигать поставленных целей. Формирует твердый характер и здоровое развитое тело.</p>
            </div>
            <div class="yellow-block-img">
                <img src="images/yellow-block-img.png" alt="">
            </div>
        </div>
    </div>
    <div class="grey-block">
        <div class="mbox">
            <div class="grey-block-img">
                <img src="images/grey-block-img.png" alt="">
            </div>
            <div class="grey-block-text">
                <h4>Различные формы тренировок</h4>

            </div>
        </div>
    </div>
</section>