<section class="second-block">
    <div class="title-s">
        <h2>Почему Кёкусинкай ещё называют
    супер-карате или сильнейшим карате?
        </h2>
    </div>
    <div class="red-block">
        <div class="mbox">
            <div class="red-block-text">
                <h4>Контактный и жесткий стиль, демонстрирующий миру мощь реального карате </h4>
                <p>Не просто теория, но практический способ постоять засебя и близких в реальной ситуации.</p>
            </div>
            <div class="red-block-img">
                <img src="images/red-block-img.png" alt="">
            </div>
        </div>
    </div>
    <div class="yellow-block">
        <div class="mbox">
            <div class="yellow-block-text cfix">
                <div class="yellow-block-img">
                    <img src="images/yellow-block-img.png" alt="">
                </div>
                <div class="yellow-block-text-desc">
                    <h4>Воспитание смелых, успешных дисциплинированных и нравственных людей.</h4>
                    <p>Позволяет подняться над своими слабостями и достигать поставленных целей. Формирует твердый характер и здоровое развитое тело.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="grey-block">
        <div class="mbox">
            <div class="grey-block-img">
                <img src="images/grey-block-img.png" alt="">
            </div>
            <div class="grey-block-text">
                <h4>Различные формы тренировок</h4>

                <div class="trenya-form">
                    <div class="item">
                        <div class="item-img">
                            <img src="images/trenya-form-item-1.png" alt="">
                        </div>
                        <div class="item-title">
                            <span>кихон</span>
                            <span class="icon icon-question"></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-title">
                            <span>ката</span>
                            <span class="icon icon-question"></span>
                        </div>
                        <div class="item-img">
                            <img src="images/trenya-form-item-2.png" alt="">
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-img">
                            <img src="images/trenya-form-item-3.png" alt="">
                        </div>
                        <div class="item-title">
                            <span>тамасивари</span>
                            <span class="icon icon-question"></span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-title">
                            <span>кумите</span>
                            <span class="icon icon-question"></span>
                        </div>
                        <div class="item-img">
                            <img src="images/trenya-form-item-4.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="grey-block-red-circle">
                <p>
                    <b>Внимание:</b> в наших школах руководствуются принципом минимального травматизмаТравмирующие удары у детей заменяются <span>"обозначением удара",</span>у взрослых удары<br> в голову руками<br> - запрещены.
                </p>
            </div>
        </div>
    </div>
</section>