<section class="seventh-block" id="seventh-block">
    <div class="seven-wrap">
        <div class="mbox2">
            <div class="title-text">
                <h2>Фото</h2>
            </div>
            <div class="slid-block slider-for">
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
            </div>
            <div class="slid-block slider-nav">
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
                <div class="item">
                    <div class="conteiner">
                        <img src="images/slider.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>