<section id="sixth-block" class="sixth-block">
    <div class="descktop">
        <div class="wrapper">
            <div class="mbox">
                <div class="title">
                    <h2>Клуб "Тасай"</h2>
                </div>
                <div class="items top">
                    <div class="item">
                        <img src="images/ico-01.png" alt="">
                        <h6>
                            <p>Опытные</p>
                            <p>и внимательные</p>
                            <p>тренеры</p>
                        </h6>
                        <p>Руководит клубом чемпион</p><p> международных турниров,</p><p> с педагогическим стажем</p><p> более 10 лет.</p>
                    </div>
                    <div class="item">
                        <img src="images/ico-02.png" alt="">
                        <h6><p>У нас обучается</p><p> более 200</p><p> профессиональных </p><p>учеников</p></h6>
                    </div>
                    <div class="item">
                        <img src="images/ico-03.png" alt="">
                        <h6><p>Дружеская атмосфера</p><p> взаимопомощи </p><p>и уважения</p></h6>
                        <p>Нагрузка на каждого ученика</p><p> индвидуальная и зависит </p><p>от возможностей и уровня </p><p> подготовки.</p>
                    </div>
                </div>
                <div class="subtitle animate-section ">
                    <div class="convert animate-delay">
                        <p>5 ПРИЧИН</p>
                        <p>ПОЧЕМУ КЛУБ ТАСАЙ - </p>
                        <p>ЛУЧШЕЕ МЕСТО</p>
                        <p>ДЛЯ ЗАНЯТИЙ КЕКУСИНКАЙ КАРАТЕ В МИНСКЕ</p>
                    </div>
                </div>
                <div class="items bottom">
                    <div class="item">
                        <img src="images/ico-04.png" alt="">
                        <h6><p>8 залов </p><p>по всему Минску. </p></h6>
                        <p>Удобное месторасположение </p><p>в различных районах города.</p><p> Легко добираться</p>
                    </div>
                    <div class="item">
                        <img src="images/ico-05.png" alt="">
                        <h6><p>Комплексная техника </p><p>и умный многоступенчатый  подход.</p></h6>
                        <p> Ударная, бросковая текхника, занятия с оружием,</p><p> уличные тренировки, подготовка к уличной драке,</p><p> контактные практики. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mobile">
        <div class="bg-circl"><img src="images/sixbgmo.png" alt=""></div>
        <div class="wrapper">
            <div class="mbox animate-section">
                <div class="title">
                    <h2>Клуб "Тасай"</h2>
                </div>
                <div class="subtitle animate-it">
                    <p>5 ПРИЧИН</p>
                    <p>ПОЧЕМУ КЛУБ ТАСАЙ - </p>
                    <p>ЛУЧШЕЕ МЕСТО</p>
                    <p>ДЛЯ ЗАНЯТИЙ КЕКУСИНКАЙ КАРАТЕ В МИНСКЕ</p>
                </div>
                <div class="items">
                    <div class="item">
                        <img src="images/ico-01m.png" alt="">
                        <h6>
                            <p>Опытные и внимательные</p>
                            <p>тренеры</p>
                        </h6>
                        <p>Руководит клубом чемпион</p><p> международных турниров,</p><p> с педагогическим стажем</p><p> более 10 лет.</p>
                    </div>
                    <div class="item">
                        <img src="images/ico-02m.png" alt="">
                        <h6><p>У нас обучается более</p><p> 200 профессиональных </p><p>учеников</p></h6>
                    </div>
                    <div class="item">
                        <img src="images/ico-03m.png" alt="">
                        <h6><p>Дружеская атмосфера</p><p> взаимопомощи и уважения</p></h6>
                        <p>Нагрузка на каждого ученика</p><p> индвидуальная и зависит </p><p>от возможностей и уровня </p><p> подготовки.</p>
                    </div>
                    <div class="item">
                        <img src="images/ico-04m.png" alt="">
                        <h6><p>8 залов по всему Минску. </p></h6>
                        <p>Удобное месторасположение </p><p>в различных районах города.</p><p> Легко добираться</p>
                    </div>
                    <div class="item">
                        <img src="images/ico-05m.png" alt="">
                        <h6><p>Комплексная техника </p><p>и умный многоступенчатый </p><p> подход.</p></h6>
                        <p> Ударная, бросковая текхника,</p><p> занятия с оружием, уличные </p><p> тренировки, подготовка к </p><p> уличной драке, контактные </p><p>практики. </p>
                    </div>
                </div>


            </div>
        </div>
    </div>


</section>