<section class="tenth-block">
    <div class="tenth-block-top">
        <div class="mbox">
            <div class="tenth-block-video-wrap">
                <div class="tenth-block-video">
                    <iframe src="https://www.youtube.com/embed/KAQhG59zqZc" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="tenth-block-form">
                <div class="lend-form">
                    <form action="ajax.php" name="tenth-block-form" class="">
                        <div class="form-body">
                            <div class="contact-form-title">
                                <h4>Ждем вас и ваших детей<br>на бесплатной пробной тренировке</h4>
                                <p>Приходите и попробуйте потренироваться в дружественной и благожелательной атмосфере в удобное время</p>
                            </div>
                            <div class="contact-form-row cfix">
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input radio-holder-wrap">
                                            <div class="radio-holder">
                                                <label>
                                                    <input type="radio" name="lend-form-vozvrast" id="" value="ребенок (6+)" required="required" checked>
                                                    <span>ребенок (6+)</span>
                                                </label>
                                            </div>
                                            <div class="radio-holder">
                                                <label>
                                                    <input type="radio" name="lend-form-vozvrast" id="" value="взрослый (16+)" required="required">
                                                    <span>взрослый (16+)</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p>Удобный адрес для занятий</p>
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input selects-wrap">
                                            <select name="lend-form-select-children" id="" data-placeholder="Улица" required="required" class="active">
                                                <option></option>
                                                <option value="Уручье, ул. Никифорова 21">Уручье, ул. Никифорова 21</option>
                                                <option value="Уручье, Пономарева 11">Уручье, Пономарева 11</option>
                                                <option value="Уручье, ул. Никифорова 18">Уручье, ул. Никифорова 18</option>
                                                <option value="парк Челюскинцев, ул. Калинина 17">парк Челюскинцев, ул. Калинина 17</option>
                                                <option value="Сухарево, ул. Панченко 32">Сухарево, ул. Панченко 32</option>
                                                <option value="Уручье, ул. Ф.Скорины 45">Уручье, ул. Ф.Скорины 45</option>
                                                <option value="ст. м. Восток, ул. Калиновского 34">ст. м. Восток, ул. Калиновского 34</option>
                                                <option value="Серебрянка, ул. Якубова, 62">Серебрянка, ул. Якубова, 62</option>
                                            </select>
                                            <select name="lend-form-select-adult" id="" data-placeholder="Улица" required="required">
                                                <option></option>
                                                <option value="Уручье, ул. Никифорова 21">Уручье, ул. Никифорова 21</option>
                                                <option value="Сухарево, ул. Панченко 32">Сухарево, ул. Панченко 32</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="contact-form-item">
                                    <div class="contact-form-item-input form_row">
                                        <div class="form_input">
                                            <input type="text" name="contact_tel" value="" required="required" placeholder="Ваш телефон" class="tel-mask">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="contact-form-row-submit cfix">
                                <div class="contact-form-item">
                                    <button type="submit" class="contact-submit button">
                                        <b>записаться</b>
                                        <span>на бесплатную тренировку</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="hidden-tenth-block-bottom">
                        <p>Спешите!</p>
                    </div>
                    <div class="tenth-block-left-children">
                        <img src="images/tenth-block-left-children.png" alt="">
                    </div>
                    <div class="tenth-block-right-children">
                        <img src="images/tenth-block-right-children.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tenth-block-bottom">
        <p>Спешите!</p>
    </div>


</section>