<section class="top-block">
    <div class="top-block-wrap">
        <div class="mbox">
            <div class="top-description">
                <div class="top-title">
                    <h1>Тренировки Кёкусинкай<span>*</span> карате в Минске для детей и взрослых</h1>
                </div>
                <div class="top-subtitle">
                    * Кёкусинкай, киокушинкай или как ещё часто называют, <span>СУПЕР КАРАТЕ.</span>
                </div>
                <p>Наиболее продуманный и сбаллансированный путь физического, психологического и эмоционального развития доступный сегодня в Минске.</p>
            </div>
        </div>
    </div>
</section>