@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
    .seventh-block .seven-wrap .mbox2{padding: 0 40px;}
}
@media screen and (max-width: 1280px){
    
}
@media screen and (max-width: 1024px){
    .header-2 .header-top .header-telefone a { font-size: 30px;}
    // map 
    #map { height: 500px;}
    
    // block 8
    .convert-all {padding: 288px 0 10px;
        .bottom-items {
            .conteiner {padding-top: 25px;
               .item {width: 100%; padding-bottom: 25px;} 
               
            } 
        }
        .top-block-2 {
            .afrtertext { width: 100%; text-align: center; padding-bottom: 35px; padding-top: 15px;}
            .convert-stuf{display: block; height: auto;}
            .image { width: 100%; height: 226px;
                img {position: absolute; display: block; margin: 0 auto; transform: translateX(-50%); left: 50%; }
                &.animated{
                    img{top: -228px;  opacity: 1;}
                }
            }
        }            
    }
    
}
@media screen and (max-width: 920px){
    .header-2{
        .header-top {
            .mbox{display: block; position: relative; padding-top: 50px;}
            .header-contants{position: absolute; top: 0; left: 0; right: 0;}
            .header-logo {
                .tablet {display: block; 
                    img{display: block; margin: 0 auto;}
                }
                .desktop{display: none;}
            }
            .header-button{display: none;}
        }
    }
}
@media screen and (max-width: 767px){
    .sixth-block .mobile .item { padding: 108px 15px 25px;}
    .third-block {  min-height: 0;}
    // header
    .header-2{padding-top: 70px;}
    
    // slider 

    .seventh-block .seven-wrap {padding-top: 28px;  padding-bottom: 20px;
        .mbox2 { padding: 0;}
        .slider-for {border: none; padding: 0;}
        .title-text {font-size: 70px;  padding-bottom: 25px;}
    }
    
    .slider-nav{display: none;}
    
    // menu head

    .header .header-nav {top: 0; left: 0; width: 100%; background-color: black; height: 60px; position: fixed; 
        .podzvoni-mne-v-heder {display: block; padding: 5px 0; margin-left: 30%; max-width: 70%;  
            .button{ float: right; margin: 0 10px;
                span {color: white; font-size: 26px;}
            }    
        }
        .header-menu-list { height: auto; background-position: center; top: 60px; width: 100%; background-color: white; left: -110%; background-image: none;
            .menu-bottom{display: none;}
        }
        .opened-menu { right: 100%; visibility: visible; left: 0px;
            .close-button { display: none;}
        }
        .show-hide-nav-button {display: block; border: 1px solid white; border-radius: 3px;height: 30px; width: 100px; padding: 4px; top: 13px; left: 13px; cursor: pointer;
            .show-hide-nav-text { width: 65px; background-color: transparent; border: none; float: right;
                &:before{display: none;}
                .convert{display: flex; flex-wrap: nowrap;align-items: center; height: 30px; width: 100%; text-align: right; height: 16px;
                    span{display: inline; font-size: 23px; margin-left: -4px;}
                }
            }
            .sendwich{display: block; position: relative; height: 20px; width: 20px;  float: left; overflow: hidden;
                &:before{content: ''; position: absolute; width: 51px; top: 0;right: 0; height: 4px; background-color: white; transition: all 0.3s;}
                &:after{content: ''; position: absolute; width: 51px; bottom: 0;right: 0; height: 4px; background-color: white;transition: all 0.3s;}
                .sendwich-wrap{ position: absolute; width: 30px; bottom: 8px;right: 0; height: 4px; background-color: white; opacity: 1; transition: all 0.3s;}
            }
        } 
        .active-humburger{
            .sendwich{
                .sendwich-wrap{opacity: 0;}
                &:before{transform: rotate(45deg); top: 10px;  right: -18px;}
                &:after{transform: rotate(-45deg); bottom: 0px; right: -8px;}
            }
        }  
    }
    
    //popups
    .fancybox-form .fancybox-close { top: -45px; right: 10px;}
    #call-popup .contact-form { min-width: 240px; width: 100%; padding: 10px; min-height: 350px; }
    #call_success .call-success {min-width: 240px; width: 100%; padding: 10px; min-height: 220px;}
    
    // map
    #map { height: 670px;}
    .ele-wrap .title-text { padding: 10px 0 20px;}
    
    //footer
    .ele-wrap .title-text {font-size: 46px;}
    .foot-block {  margin-top: -275px;
        .conteiner { height: auto;
            .logo {position: static;}
            .convert-center .conteiner-phone a { font-size: 32px;}
        }
    }
    

}


@media screen and (max-width: 666px){
    
    //popups
    #call-popup .contact-form .contact-form-title {font-size: 33px; padding-bottom: 20px;}
    #call-popup .contact-form .contact-form-item .form_input input {font-size: 15px; height: 46px;     line-height: 44px;}
    #call-popup .contact-form .contact-form-row-submit button { font-size: 34px; min-height: 54px;}
    #call_success .call-success .call-title { font-size: 32px; }

}
@media screen and (max-width: 600px){
    // menu heder
    .header .header-nav .podzvoni-mne-v-heder { margin-left: 42%; max-width: 55%;}
    
    // block 8
    .convert-all {
        .bottom-items .conteiner .item {width: calc(100% + 30px); margin: 0 -15px 25px; padding: 22px 5px; background-color: #ffe400; display: flex; justify-content: space-between;         align-items: center; position: relative;
            .image-conteiner{ min-width: 180px; align-self: flex-start;
                img {position: static; width: 100%;} 
            }
            .text-block {min-height: 20px; padding-left: 10px;box-shadow: none; position: static;
                .descript { font-size: 15px; padding-right: 5px; padding-left: 10px; line-height: 20px;}
            }
        }
        .top-block-2 {
            .image {width: 100%; height: 210px;
                img{ width: 315px; top: -145px;}
            }
            .afrtertext {font-size: 15px; line-height: 24px;}
        }
    }
}

@media screen and (max-width: 500px){
    // block 8
    .convert-all .top-block-2 .image.animated img {top: -81%;}
    .convert-all .top-block-2 .image { width: 100%; height: 230px; }
    .convert-all .bottom-items .conteiner .item .image-conteiner{ min-width: 130px; }
}

@media screen and (max-width: 420px){
    .convert-all .top-block-2 .image.animated img { top: -123%;}
    .convert-all .top-block-2 .image { height: 160px;}
    .header .header-nav .podzvoni-mne-v-heder .button span { font-size: 20px;}
}
@media screen and (max-width: 320px){
    .convert-all .top-block-2 .image { height: 164px;}
    .convert-all .top-block-2 .image.animated img {top: -82%;}
}


