@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){
    /*second-block*/
    .second-block{
        .title-s{text-align: center;}
        .grey-block .trenya-form .item .hidden-item{width: 255px;right: -130px;}
        .grey-block .trenya-form .item .hidden-item:after{top: -11px;right: 53%;}
        .red-block .red-block-img{margin-left: 0;width: 30%;}
        .red-block .red-block-text{width: 70%;}
    }
    /*/second-block*/
}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1150px){
    /*second-block*/
    .second-block{
        .yellow-block .yellow-block-img{width: 30%;margin-top: -100px;}
        .yellow-block .yellow-block-text-desc{width: 70%;}
    }
    /*/second-block*/
}
@media screen and (max-width: 1024px){
    /*second-block*/
    .second-block{
        .grey-block .grey-block-img{top: -260px;right: -167px;}
        .grey-block .grey-block-red-circle p{font-size: 19px;line-height: 28px;}
        .grey-block .grey-block-red-circle{width: 380px;height: 380px;}
        .grey-block .grey-block-text{width: calc(100% - 385px);}
        .grey-block .trenya-form .item .item-img{padding: 16px 0px;}
        .grey-block .trenya-form{height: 201px;}
        .grey-block .grey-block-text h4{font-size: 36px;}
    }
    /*/second-block*/
}
@media screen and (max-width: 992px){
    /*second-block*/
    .second-block{
        .red-block{background: url("../images/red-block-bg.png") 42% top no-repeat;}
        .grey-block .grey-block-text{width: 100%;max-width: 100%;margin-bottom: 45px;}
        .grey-block .grey-block-img{top: -260px;right: -526px;}
        .grey-block .grey-block-red-circle{float: none;margin: 0 auto;}
        .grey-block .trenya-form .item:last-child .hidden-item{right: -10px;}
        .grey-block .trenya-form .item:last-child .hidden-item:after{right: 15px;}
    }
    /*/second-block*/
}
@media screen and (max-width: 767px){
    /*second-block*/
    .second-block{
        .yellow-block .yellow-block-img{margin-left: 0px;}
    }
    /*/second-block*/
}
@media screen and (max-width: 640px){
    /*second-block*/
    .second-block{
        .title-s{font-size: 25px;line-height: 25px;max-width: 285px;padding: 19px 0px;}
        .red-block{background: #DB2A20 url("../images/red-block-bg.png") 52% 44% no-repeat;background-size: 150%;padding-top: 20px;position: relative;overflow: hidden;}
        .red-block .red-block-text{width: 100%;float: none;margin-left: 0;max-width: 100%;text-align: center;line-height: 28px;
            h4{font-size: 22px;}
        }
        .red-block .red-block-img{width: 40%;
            img{max-width: 180px;}
        }
        .red-block .red-block-text p{position: absolute;right: 6%;width: 45%;font-family: "Solomon";}
        .red-block:after{content: '';background-color: $ye;width: 100%;height: 160px;position: absolute;top: calc(100% - 15px);right: -26px;transform: rotate(-5.6deg);}

        .yellow-block{margin-top: 0;padding-bottom: 60px}
        .yellow-block .yellow-block-text{max-width: 100%;float: none;}
        .yellow-block .yellow-block-img{margin-top: 0;width: 100%;float: none;position: absolute;right: 0;top: 0;text-align: right;pointer-events:none;
            img{max-width: 170px;display: inline-block;}
        }
        .yellow-block .yellow-block-text-desc{width: 100%;float: none;text-align: left;max-width: 70%;text-align: center;padding: 33px 0px;}
        .yellow-block .yellow-block-text h4{font-size: 22px;}

        .grey-block .grey-block-text h4{text-align: center;}
        .grey-block .trenya-form .item{width: 50%;}
        .grey-block .trenya-form{flex-wrap: wrap;height: auto;}
        .grey-block .grey-block-img{top: -82px;right: auto;left: 0;}
        .grey-block .trenya-form .item:nth-child(1),.grey-block .trenya-form .item:nth-child(2){margin-bottom: 20px;}
        .grey-block .trenya-form .item:nth-child(2) .hidden-item{right: -91px;
            &:after{right: 37%;}
        }

        .bottom-block .bottom-block-text h4{font-size: 23px;}
        .bottom-block .bottom-block-text p{font-size: 17px;line-height: 20px;}
        .bottom-text{font-size: 23px;line-height: 27px;padding-top: 41px;padding-bottom: 36px;}
    }
    /*/second-block*/
}
@media screen and (max-width: 479px){
    /*second-block*/
    .second-block{
        .yellow-block .yellow-block-img img{max-width: 128px;}
        .yellow-block .yellow-block-img{top: auto;bottom:-20px;}
        .yellow-block .yellow-block-text h4{margin-right: -100px;}

        .grey-block .grey-block-red-circle{width: 300px;height: 300px;}
        .grey-block .grey-block-red-circle p b{font-size: 32px;padding-top: 34px;padding-bottom: 3px;}
        .grey-block .grey-block-red-circle p {max-width: 270px;font-size: 17px;line-height: 23px;}
        .grey-block .grey-block-red-circle p span{font-size: 23px;}
    }
    /*/second-block*/
}
@media screen and (max-width: 320px){

}