/*four-block*/
    @media screen and (max-width: 992px){

        .fourth-block{
            .four-wrap{
                .item{margin-bottom: 0;
                    .bg{
                        &:before,
                        &:after{display: none;}
                    }
                    .txt{position: relative; background-color: rgba(255,228,0,1); padding: 26px 0 32px;
                        ul{position: relative; text-align: center; padding: 0;
                            &:nth-child(2){ text-align: center; padding: 0;
                                li{
                                    &:nth-child(2n-1){
                                        p:before{left:-28px; right:auto;}
                                    }
                                }
                            }
                        }
                        li{margin-bottom: 20px;
                            p{display: inline-block; max-width: none;}
                            &:nth-child(2n){
                                p:before{left:auto; right:-28px;}
                            }
                        }
                    }
                    &.red{

                        .txt{position: relative; background-color:  rgba(219,42,32,1);  padding: 26px 0 32px;
                            ul{position: relative; text-align: center; padding: 0;
                                &:nth-child(2){ text-align: center; padding: 0;
                                    li{
                                        &:nth-child(2n){
                                            p:before{left:auto; right:-28px;}
                                        }
                                    }
                                }
                            }
                            li{margin-bottom: 20px;
                                p{display: inline-block; max-width: none;}
                                &:nth-child(2n){
                                    p:before{left:-28px; right:auto;}
                                }
                            }
                        }

                    }
                }
            }
        }
    }
    @media screen and (max-width: 600px){

        .fourth-block{
            .four-wrap{
                .mbox{padding: 0;}
                .title{font:400 46px/51px 'Room'; padding-bottom: 26px;}
                .content{padding: 20px 0 26px;}
                .bg>img{min-height: 244px;}
                .item{
                    .txt{
                        ul{
                            &:nth-child(2){
                                li{
                                    &:nth-child(2n-1){
                                        p:before{}
                                    }
                                }
                            }
                        }
                        li{font:400 20px/24px 'Room'; padding: 0 40px;
                            p{}
                            &:nth-child(2n){
                                p:before{}
                            }

                        }

                    }
                    .img{max-width: 120px; margin-top: -30px;
                        img{max-width: 73px; }
                        &:before{width: 120px;height: 120px; top: 20px;}
                        span{font:400 31.17px/31.17px 'Room';}
                    }
                    &.red{
                        .img{margin-top: -30px;
                            &:before{ }
                            span{font:400 25.96px/25.96px 'Room';}
                        }
                        .txt{
                            ul{
                                &:nth-child(2){
                                    li{
                                        &:nth-child(2n){
                                            p:before{}
                                        }
                                    }
                                }
                            }
                            li{ padding: 0 40px;
                                p{}
                                &:nth-child(2n){
                                    p:before{}
                                }
                            }
                        }

                    }
                }

            }
        }
    }
/*END four-block*/
/*fifth-block*/
    @media screen and (max-width: 1100px){
        .fifth-block{
            .fifth-wrap{
                .item-list{
                    .descktop{
                        li{
                            &:nth-child(3){max-width: 900px;
                                span{
                                    &:first-child{margin-left: -8px;}
                                    &:last-child{margin-right: -30px;letter-spacing: -1.3px; }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 992px){
        .fifth-block{
            .fifth-wrap{
                .content{padding-top: 25px;     padding-bottom: 40px;}
                .price{position: relative; height: 312px;width: 312px; background-size: cover;     left: calc(50% - 156px);
                    p{font:700 27.76px/32px 'Solomon';
                        &:nth-child(2){font:700 105.36px/80px 'Solomon'; }
                        &:nth-child(3){font:700 33.46px/36px 'Solomon';}
                    }
                }
                .item-list{       padding-top: 34px;     padding-bottom: 29px;
                    .mobile{display: block;}
                    table{border-collapse: collapse; width: 100%;
                        td{height: 70px;text-align: center; vertical-align: middle;padding: 0 20px 0; border-bottom: 3px solid #000;background-color: rgba(255,228,0,0.8);}
                    }
                    .descktop{ display: none;}
                }

            }
        }
    }
    @media screen and (max-width: 660px){
        .fifth-block{
            .fifth-wrap{    background-position: -1233px top;
                .mbox{padding: 0;}
                .title{font:400 51px/51px 'Room';}
                .item-list{
                    span{font:500 18px/22px 'Room';}
                    b{ font:500 28px/22px 'Room';}
                }
                .button-wrap{padding: 0 5px;
                    a{    padding-top: 2px; text-transform: none; height: 72px;
                        span{font:500 46px/39px 'Room'; display: block; width: 100%;
                            &:last-child{font:500 25px/25px 'Room';}
                        }
                    }
                }
            }
        }
    }
/*END fifth-block*/