/*four-block*/
    @media screen and (max-width: 992px){

        .fourth-block{
            .four-wrap{
                .item{margin-bottom: 0;
                    .bg{
                        &:before,
                        &:after{display: none;}
                    }
                    .txt{position: relative; background-color: rgba(255,228,0,1); padding: 26px 0 32px;
                        ul{position: relative; text-align: center; padding: 0;
                            &:nth-child(2){ text-align: center; padding: 0;
                                li{
                                    &:nth-child(2n-1){
                                        p:before{left:-28px; right:auto;}
                                    }
                                }
                            }
                        }
                        li{margin-bottom: 20px;
                            p{display: inline-block; max-width: none;}
                            &:nth-child(2n){
                                p:before{left:auto; right:-28px;}
                            }
                        }
                    }
                    &.red{

                        .txt{position: relative; background-color:  rgba(219,42,32,1);  padding: 26px 0 32px;
                            ul{position: relative; text-align: center; padding: 0;
                                &:nth-child(2){ text-align: center; padding: 0;
                                    li{
                                        &:nth-child(2n){
                                            p:before{left:auto; right:-28px;}
                                        }
                                    }
                                }
                            }
                            li{margin-bottom: 20px;
                                p{display: inline-block; max-width: none;}
                                &:nth-child(2n){
                                    p:before{left:-28px; right:auto;}
                                }
                            }
                        }

                    }
                }
            }
        }
    }
    @media screen and (max-width: 600px){

        .fourth-block{
            .four-wrap{
                .mbox{padding: 0;}
                .title{font:400 46px/51px 'Room'; padding-bottom: 26px;}
                .content{padding: 20px 0 26px;}
                .bg>img{min-height: 244px;}
                .item{
                    .txt{
                        ul{
                            &:nth-child(2){
                                li{
                                    &:nth-child(2n-1){
                                        p:before{}
                                    }
                                }
                            }
                        }
                        li{font:400 20px/24px 'Room'; padding: 0 40px;
                            p{}
                            &:nth-child(2n){
                                p:before{}
                            }

                        }

                    }
                    .img{max-width: 120px; margin-top: -30px;
                        img{max-width: 73px; }
                        &:before{width: 120px;height: 120px; top: 20px;}
                        span{font:400 31.17px/31.17px 'Room';}
                    }
                    &.red{
                        .img{margin-top: -30px;
                            &:before{ }
                            span{font:400 25.96px/25.96px 'Room';}
                        }
                        .txt{
                            ul{
                                &:nth-child(2){
                                    li{
                                        &:nth-child(2n){
                                            p:before{}
                                        }
                                    }
                                }
                            }
                            li{ padding: 0 40px;
                                p{}
                                &:nth-child(2n){
                                    p:before{}
                                }
                            }
                        }

                    }
                }

            }
        }
    }
/*END four-block*/
/*fifth-block*/
    @media screen and (max-width: 1100px){
        .fifth-block{
            .fifth-wrap{
                .item-list{
                    .descktop{
                        li{
                            &:nth-child(3){max-width: 900px;
                                span{
                                    &:first-child{margin-left: -8px;}
                                    &:last-child{margin-right: -30px;letter-spacing: -1.3px; }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 992px){
        .fifth-block{
            .fifth-wrap{
                .magic{    background-position: 78% top;}
                .content{padding-top: 25px;     padding-bottom: 40px;}
                .price{position: relative;  height: 312px;width: 312px;    left: calc(50% - 156px);
                    .conver-texter{height: 312px;width: 312px; background-size: cover;}
                    p{font:700 27.76px/32px 'Solomon';
                        &:nth-child(2){font:700 105.36px/80px 'Solomon'; }
                        &:nth-child(3){font:700 33.46px/36px 'Solomon';}
                    }
                    &:before{ width: 220px; height: 220px; z-index: -1; transform: rotate(40deg);top:calc(50% - 109px); left: calc(50% - 111px);z-index: 20; transition: all 0.3s;}

                }
                .item-list{       padding-top: 34px;     padding-bottom: 29px;
                    .mobile{display: block;}
                    table{border-collapse: collapse; width: 100%;
                        td{height: 70px;text-align: center; vertical-align: middle;padding: 0 20px 0; border-bottom: 3px solid #000;background-color: rgba(255,228,0,0.8);}
                    }
                    .descktop{ display: none;}
                }

            }
        }
    }
    @media screen and (max-width: 660px){
        .fifth-block{
            .fifth-wrap{background-position: -1233px top;
                .mbox{padding: 0;}
                .title{font:400 51px/51px 'Room';}
                .item-list{
                    span{font:500 18px/22px 'Room';}
                    b{ font:500 28px/22px 'Room';}
                }
                .button-wrap{padding: 0 5px;
                    a{    padding-top: 2px; text-transform: none; height: 72px;
                        span{font:500 46px/39px 'Room'; display: block; width: 100%;
                            &:last-child{font:500 25px/25px 'Room';}
                        }
                    }
                }
            }
        }
    }
/*END fifth-block*/
/*six - block*/
    @media screen and (max-width: 1100px){
        .sixth-block{
            .descktop{
                .items{
                    &.top{        padding: 256px 0 0 ;
                        .item:nth-child(2){    margin-left:0;}
                    }
                    &.bottom{        padding:201px 0 0;}
                }
            }
        }
    }
    @media screen and (max-width: 992px){
        .sixth-block{
            .descktop{display: none;}
            .mobile{display: block;}
        }
    }
    @media screen and (max-width: 480px){
        .sixth-block{
            .mobile{ padding: 35px 0 0;
                .mbox{padding: 0;}
                .title{font:400 53px/53px 'Room';}
                .bg-circl{}
                .items{    padding-top: 34px;}
                .item{    padding: 95px 15px 28px;
                    p{font:400 17px/26px 'Solomon';}
                    h6{padding-bottom: 0;}
                    h6>p{font:700 22px/25px 'Room';}
                }
                .subtitle{font:400 23px/33px 'Room'; padding: 39px 0;
                    p{
                        &:first-child{font:700 49px/70px 'Room';}
                        &:nth-child(3) {padding-bottom: 0px;  margin-bottom: 0px;}
                    }
                }
            }
        }
    }
/*END six - block*/
/*nineth-block*/
    @media screen and (max-width: 1200px){
        .nineth-block{
            .title{ height: auto; min-height: 125px; font-size: 44px; line-height: 1; }
            .descktop{display: none;}
            .mobile{display:block;
                .convert{
                    .conteiner{ max-width: 650px; margin: 0 auto; padding-bottom: 10px;
                        .item{ padding: 15px 10px;
                            .po{ width: 70px; height: 70px; margin: 0 auto; display: flex; align-items: center; justify-content: center; border-radius: 50%; background-color: #ffe400; font-size: 43px;  font-family: "Solomon", sans-serif; color: rgb(0, 0, 0);}
                            .de{font-size: 22px; font-family: "Solomon"; color: rgb(219, 42, 32);   font-weight: 600;   line-height: 1.2; text-align: center; padding-top: 5px; padding-bottom: 10px;}
                            .ir{font-size: 22px; font-family: "Solomon"; color: black;   font-weight: 400;   line-height: 1.2; text-align: center;}
                            .ghnt{ text-align: center;
                                img{}
                            }
                            .wert{ height: 100px; background-image: url(../images/wert.png);margin: 0 -20px;background-repeat: no-repeat; background-position: center center; display: flex; align-items: center; justify-content: center;
                                p{font-size: 44px; font-family: "Solomon";  color: rgb(205, 31, 47);  line-height: 1.2;}                                
                            }
                        }
                    }
                }
            }
        }

    }
/*END nineth-block*/

