@media screen and (min-width: 1366px){
    .second-block .red-block .mbox{min-height: 401px;}
    .second-block .yellow-block{min-height: 264px;}

    .second-block .red-block .red-block-img img{margin-top: -70px;transition:all ease .4s;}
    .second-block .yellow-block .yellow-block-img img{margin-top: -70px;transition:all ease .4s;}
    .second-block .red-block .red-block-img{margin-top: -130px;}
    .second-block .yellow-block .yellow-block-img{margin-top: -270px;}
    .second-block .yellow-block .yellow-block-img img{margin-top: 0;}
    .second-block .yellow-block .yellow-block-text{min-height: 271px;}
}
@media screen and (max-width: 1366px){
    /*second-block*/
    .second-block{
        .title-s{text-align: center;}
        .grey-block .trenya-form .item .hidden-item{width: 255px;right: -130px;}
        .grey-block .trenya-form .item .hidden-item:after{top: -11px;right: 53%;}
        .red-block .red-block-img{margin-left: 0;width: 30%;}
        .red-block .red-block-text{width: 70%;}
    }
    /*/second-block*/
}
@media screen and (max-width: 1150px){
    /*second-block*/
    .second-block{
        .yellow-block .yellow-block-img{width: 30%;margin-top: -100px;}
        .yellow-block .yellow-block-text-desc{width: 70%;}
    }
    /*/second-block*/

    /*third-block*/
    .third-block{background: #000 url("../images/third-block-bg.png") 34% top no-repeat;}
    /*/third-block*/
}
@media screen and (max-width: 1024px){
    /*second-block*/
    .second-block{
        .grey-block .grey-block-img{top: -260px;right: -167px;}
        .grey-block .grey-block-red-circle p{font-size: 19px;line-height: 28px;}
        .grey-block .grey-block-red-circle{width: 380px;height: 380px;}
        .grey-block .grey-block-text{width: calc(100% - 385px);}
        .grey-block .trenya-form .item .item-img{padding: 16px 0px;}
        .grey-block .trenya-form{height: 201px;}
        .grey-block .grey-block-text h4{font-size: 36px;}
    }
    /*/second-block*/

    /*top-block*/
    .top-block .top-block-wrap{background-size: 145%;}
    /*/top-block*/
}
@media screen and (max-width: 992px){
    /*second-block*/
    .second-block{
        .red-block{background: url("../images/red-block-bg.png") 42% top no-repeat;}
        .grey-block .grey-block-text{width: 100%;max-width: 100%;margin-bottom: 45px;}
        .grey-block .grey-block-img{top: -260px;right: -526px;}
        .grey-block .grey-block-red-circle{float: none;margin: 0 auto;}
        .grey-block .trenya-form .item:last-child .hidden-item{right: -10px;}
        .grey-block .trenya-form .item:last-child .hidden-item:after{right: 15px;}
    }
    /*/second-block*/

    /*top-block*/
    .top-block .bottom-last-text{font-size: 19px;padding-top: 53px;line-height: 25px;padding-bottom: 43px;max-width: 367px;margin: 0 auto;}
    /*/top-block*/

    /*third-block*/
    .third-block{
        .mbox{padding: 0;background-color: rgba(0, 0, 0, 0.75);}
        .lend-form{float: none;padding: 21px 15px 30px;background-color: transparent;}
        .third-block-text{float: none;margin:0 auto;
            a{display: none;}
            p{position: relative;top: 0;left: 0;}
        }
    }
    /*/third-block*/
}
@media screen and (max-width: 767px){
    /*second-block*/
    .second-block{overflow: hidden;
        .yellow-block .yellow-block-img{margin-left: 0px;}
    }
    /*/second-block*/

    /*tenth-block*/
    .tenth-block .tenth-block-video{/*padding-bottom: 33px;*/}
    .tenth-block .hidden-tenth-block-bottom{display: block;
        p{color: $ye;font-size: 55px;padding-bottom: 50px;font-family: "Solomon";}
    }
    .tenth-block .tenth-block-top{padding-top: 33px;}
    .tenth-block .tenth-block-form .lend-form{max-width: 100%;border-radius: 0px;}
    .tenth-block .mbox{padding: 0;}
    .tenth-block .tenth-block-right-children{display: inline-block;position: relative;z-index: 2;bottom:0;left: 0;right: 0;

        img{max-height: 400px;}
    }
    .tenth-block .tenth-block-left-children{display: inline-block;position: relative;z-index: 2;bottom:0;left: 0;right: 0;
        img{max-height: 400px;}
    }
    .tenth-block .tenth-block-bottom{display: none;}
    .tenth-block .tenth-block-form{margin-bottom: 0;}

    .tenth-block .tenth-block-form .lend-form{position: relative;padding-bottom: 30px;background-color: rgba(0, 0, 0, 0.85);
        &:after{position: absolute;bottom: 0;left: 50%;transform: translateX(-50%);background: url('../images/mobile-10-bottom-bg.jpg') center center no-repeat;height: 138px;content: '';width: 100%;}
    }
    .tenth-block .tenth-block-video-wrap{margin-bottom: 35px;}
    /*/tenth-block*/
}
@media screen and (max-width: 640px){
    /*second-block*/
    .second-block{
        .title-s{font-size: 25px;line-height: 25px;max-width: 285px;padding: 19px 0px;}
        .red-block{background: #DB2A20 url("../images/red-block-bg.png") 52% 44% no-repeat;background-size: 150%;padding-top: 20px;position: relative;overflow: hidden;}
        .red-block .red-block-text{width: 100%;float: none;margin-left: 0;max-width: 100%;text-align: center;line-height: 28px;
            h4{font-size: 22px;}
        }
        .red-block .red-block-img{width: 40%;
            img{max-width: 180px;}
        }
        .red-block .red-block-text p{position: absolute;right: 6%;width: 45%;font-family: "Solomon";}
        .red-block:after{content: '';background-color: $ye;width: 100%;height: 160px;position: absolute;top: calc(100% - 15px);right: -26px;transform: rotate(-5.6deg);}

        .yellow-block{margin-top: 0;padding-bottom: 60px}
        .yellow-block .yellow-block-text{max-width: 100%;float: none;}
        .yellow-block .yellow-block-img{margin-top: 0;width: 100%;float: none;position: absolute;right: 0;top: 0;text-align: right;pointer-events:none;
            img{max-width: 170px;display: inline-block;}
        }
        .yellow-block .yellow-block-text-desc{width: 100%;float: none;text-align: left;max-width: 70%;text-align: center;padding: 33px 0px;}
        .yellow-block .yellow-block-text h4{font-size: 22px;}

        .grey-block .grey-block-text h4{text-align: center;}
        .grey-block .trenya-form .item{width: 50%;}
        .grey-block .trenya-form{flex-wrap: wrap;height: auto;}
        .grey-block .grey-block-img{top: -82px;right: auto;left: 0;}
        .grey-block .trenya-form .item:nth-child(1),.grey-block .trenya-form .item:nth-child(2){margin-bottom: 20px;}
        .grey-block .trenya-form .item:nth-child(2) .hidden-item{right: -91px;
            &:after{right: 37%;}
        }

        .bottom-block .bottom-block-text h4{font-size: 23px;}
        .bottom-block .bottom-block-text p{font-size: 17px;line-height: 20px;}
        .bottom-text{font-size: 23px;line-height: 27px;padding-top: 41px;padding-bottom: 36px;}
    }
    /*/second-block*/


    /*top-block*/
    .top-block .top-description .top-title{margin: 0 9px 20px;line-height: 45px;font-size: 38px;}
    .top-block .top-description .top-subtitle{margin:0 -15px 30px;font-size: 21px;}
    .top-block .top-description p{font-size: 19px;line-height: 26px;}
    .top-block .top-description-mobile-img{display: block;margin:0 -15px;}
    .top-block .top-block-wrap{background:none;}
    .top-block .top-block-form{padding-top: 0;margin:0 -15px;}
    .top-block .lend-form{max-width: 100%;border-radius: 0px;background-color: rgb(0, 0, 0);}
    .top-block .bottom-last-text{max-width: none;background-color: rgb(0, 0, 0);margin:0 -15px;width: auto;padding-top: 22px;}
    .lend-form .contact-form-title h4{font-size: 23px;line-height: 26px;}
    .lend-form .contact-form-title b{font-size: 26px;}
    .lend-form p{line-height: 19px;font-size: 16px;}
    .lend-form .radio-holder span{font-size: 21px;}
    .lend-form .radio-holder-wrap{flex-direction:column;padding-bottom:10px;}
    .lend-form .contact-form-title{margin-bottom: 20px;}
    .lend-form .radio-holder{margin-bottom: 15px;}

    .lend-form .jq-selectbox .jq-selectbox__select{height: 48px;}
    .lend-form .jq-selectbox{max-width: 303px;}
    .lend-form .jq-selectbox .placeholder{font-size: 17px;padding-top: 4px;}
    .lend-form input{height: 48px;font-size: 17px;max-width: 303px;}
    .lend-form .jq-selectbox .jq-selectbox__trigger-arrow{top: 17px;}
    .lend-form .contact-submit{max-width: 303px;height: 55px;}
    .lend-form .contact-submit b{font-size: 33px;margin-top: -11px;}
    .lend-form .contact-submit span{font-size: 17px;font-size: 17px;margin-top: -5px}
    .lend-form .jq-selectbox .jq-selectbox__dropdown:after{height: 55px;top: -55px;}
    .lend-form .jq-selectbox .jq-selectbox__dropdown li{padding: 11px 10px 11px 10px;}
    .lend-form .jq-selectbox .jq-selectbox__dropdown li:after{display: none;}
    .top-block .bottom-last-text span{font-size: 23px}
    .top-block .bottom-last-text{font-size: 18px;padding-bottom: 35px;}
    /*/top-block*/
    .lend-form{min-height: auto;}

    /*third-block*/
    .third-block{position: relative;z-index: 5;
        .lend-form .radio-holder-wrap{padding-bottom: 10px}
        .third-block-text{padding-top: 0px;padding-bottom: 35px;}
        .contact-form-title p{line-height: 20px;padding: 0 15px;}
    }
    /*/third-block*/



}
@media screen and (max-width: 479px){
    /*second-block*/
    .second-block{
        .yellow-block .yellow-block-img img{max-width: 128px;}
        .yellow-block .yellow-block-img{top: auto;bottom:-20px;}
        .yellow-block .yellow-block-text h4{margin-right: -100px;}

        .grey-block .grey-block-red-circle{width: 300px;height: 300px;}
        .grey-block .grey-block-red-circle p b{font-size: 32px;padding-top: 34px;padding-bottom: 3px;}
        .grey-block .grey-block-red-circle p {max-width: 270px;font-size: 17px;line-height: 23px;}
        .grey-block .grey-block-red-circle p span{font-size: 23px;}

        .bottom-block .bottom-block-img{float: right;max-width: 206px;
            img{max-width: 60%;margin:0 auto;display: block;}
        }
        .bottom-block .bottom-block-text{width: 100%;float: none;}
    }

    /*/second-block*/

    /*tenth-block*/
    .tenth-block .tenth-block-right-children img{max-height: 300px;}
    .tenth-block .tenth-block-left-children img{max-height: 300px;}
    /*/tenth-block*/
}
@media screen and (max-width: 320px){
     /*second-block*/
     .second-block .red-block .red-block-img img{max-width: 134px;}
     .second-block .red-block .red-block-text p{text-align: left;}
     .second-block .red-block{padding-bottom: 20px;}
     .second-block .grey-block .grey-block-text{padding-top: 10px;}
     .second-block .grey-block .grey-block-text h4{font-size: 30px;}
     .second-block .grey-block .trenya-form .item .item-title{font-size: 21px;}
     .second-block .grey-block .trenya-form .item .item-title .icon-question{margin-left: 4px;margin-top: 5px;width: 18px;height: 18px;background-size: cover;}
     .second-block .grey-block .trenya-form .item:nth-child(2) .hidden-item{right: -51px;}
     .second-block .grey-block .trenya-form .item:nth-child(2) .hidden-item:after{right: 18%;}
     .second-block .grey-block .grey-block-red-circle{width: 289px;height: 289px;}
     .second-block .bottom-block{margin-top: 0px;}
     .second-block .bottom-text{padding-top: 25px;}
    /*/second-block*/

    /*top-block*/
    .top-block .top-description .top-title{margin-left: 0;margin-right: 0;font-size: 35px;}
    .lend-form .contact-form-title h4{font-size: 24px;line-height: 25px;}
    .lend-form .contact-form-title b{font-size: 24px;}
    .lend-form .jq-selectbox .jq-selectbox__select{font-size: 16px;}
    .lend-form .jq-selectbox .jq-selectbox__select-text{padding-top: 5px;}
    .lend-form .contact-submit b{font-size: 31px;margin-top: -7px;}
    .top-block .bottom-last-text{padding-top: 0px}
    /*/top-block*/
    .lend-form{padding: 21px 20px 30px;}
}